html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="button"],
input[type="search"],
button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0 !important; }

.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  content: ""; }

.table-block {
  display: table;
  width: 100%;
  height: 100%; }

.block-vertical {
  display: table-cell;
  vertical-align: middle; }

.block-bottom {
  display: table-cell;
  vertical-align: bottom; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: 'EtelkaTextProBold';
  src: url("../fonts/EtelkaTextProBold.eot");
  src: url("../fonts/EtelkaTextProBold.eot") format("embedded-opentype"), url("../fonts/EtelkaTextProBold.woff2") format("woff2"), url("../fonts/EtelkaTextProBold.woff") format("woff"), url("../fonts/EtelkaTextProBold.ttf") format("truetype"), url("../fonts/EtelkaTextProBold.svg#EtelkaTextProBold") format("svg"); }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  height: auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 50; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center; }

.bx-wrapper .bx-pager.bx-default-pager a,
.owl-dot {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  border: 4px solid #fff;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #86b53b; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
  padding-left: 7px;
  padding-right: 7px;
  position: relative; }

.bx-wrapper .bx-pager-item:after {
  content: "";
  display: block;
  height: 1px;
  width: 15px;
  background: #fff;
  position: absolute;
  z-index: 2;
  right: -7px;
  top: 50%;
  margin-top: -0.5px; }

.bx-wrapper .bx-pager-item:last-child:after {
  content: none; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 22px;
  height: 37px;
  top: 50%;
  margin-top: -18.5px;
  text-indent: -9999px;
  z-index: 99; }

.bx-next {
  background: url(../img/main-slider-next.png) no-repeat;
  right: 20px; }

.bx-prev {
  background: url(../img/main-slider-prev.png) no-repeat;
  left: 20px; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  display: none; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease, -o-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-prev,
.owl-next {
  display: block;
  width: 15px;
  height: 23px;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -11.5px;
  text-indent: -9999px; }

.owl-prev {
  left: -25px;
  background: url(../img/left-arrow.png) no-repeat; }

.owl-next {
  right: -25px;
  background: url(../img/right-arrow.png) no-repeat; }

.owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  background: #b1b1b1;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 6px; }
  .owl-dot.active {
    border-color: #662d91;
    background: #662d91; }

.owl-dots {
  text-align: center;
  padding-top: 15px; }

body {
  font-family: Tahoma,Arial,sans-serif;
  color: #000;
  line-height: 1.3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: "EtelkaTextProBold";
  color: #4e4e4e; }

h4 {
  font-size: 17px; }

p {
  margin-bottom: 10px; }

.top-panel {
  font-size: 12px;
  background: #86b53b; }
  .top-panel__link {
    color: #000; }
  .top-panel__wrapp {
    padding: 5px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.bottom-panel {
  height: 130px;
  background: url(../img/header.jpg) no-repeat 50%;
  color: #fff;
  padding: 20px 0; }
  .bottom-panel__left {
    float: left;
    width: 590px; }
  .bottom-panel__right {
    float: right;
    width: 370px; }

.middle {
  display: inline-block;
  vertical-align: middle; }

.Etelka-bold {
  font-family: "EtelkaTextProBold"; }

.logo {
  font-family: "EtelkaTextProBold"; }
  .logo a {
    color: #fff; }
  .logo__text {
    text-transform: uppercase;
    font-size: 13px; }

.header__link__item {
  display: block;
  width: 170px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px; }

.header__contacts a {
  text-decoration: underline;
  color: #fff; }

.header__contacts__title {
  text-transform: uppercase;
  font-size: 14px; }

.header .number {
  font-size: 21px; }

.header .email {
  font-size: 15px; }

.grey-link {
  background: #747474; }

.white-link {
  background: #fff;
  color: #000; }

.green-link {
  background: #86b53b; }

.content {
  background: #e7e7e7 url(../img/content.jpg) no-repeat; }

.nav {
  font-family: "EtelkaTextProBold";
  border-bottom: 5px solid #86b53b; }
  .nav__item {
    float: left;
    width: 20%;
    border-right: 1px solid #636363; }
    .nav__item:last-child {
      border-right: 0; }
  .nav__link {
    display: block;
    text-align: center;
    background: #393939;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase; }

.mrg-bot {
  margin-bottom: 15px; }

.catalog__icon {
  width: 45px;
  height: 45px;
  float: left;
  background: #585858;
  background: -webkit-linear-gradient(top, #585858 0%, #333333 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#333333));
  background: -o-linear-gradient(top, #585858 0%, #333333 100%);
  background: linear-gradient(to bottom, #585858 0%, #333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#333333',GradientType=0 ); }

.catalog__title {
  background: #86b53b;
  color: #fff;
  padding: 12px 15px;
  text-transform: uppercase;
  font-size: 20px; }

.catalog__name {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  height: 45px;
  padding: 0 10px;
  padding-left: 55px;
  line-height: 45px;
  background: #8a8a8a;
  background: -webkit-linear-gradient(top, #8a8a8a 0%, #636464 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#636464));
  background: -o-linear-gradient(top, #8a8a8a 0%, #636464 100%);
  background: linear-gradient(to bottom, #8a8a8a 0%, #636464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#636464',GradientType=0 ); }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.search {
  border: 5px solid #fff; }
  .search__item {
    position: relative; }
  .search__input {
    height: 30px;
    font-size: 14px;
    outline: 0;
    border: 0;
    background: #e8e8e8;
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.39);
    padding-left: 10px;
    padding-right: 40px; }

img {
  max-width: 100%;
  height: auto; }

.sidebar__article {
  font-size: 12px;
  padding: 0 15px;
  padding-bottom: 10px; }
  .sidebar__article__text a {
    text-transform: uppercase;
    color: #333333; }
    .sidebar__article__text a:hover {
      color: #86b53b; }

.sidebar__item {
  background: #fff; }

.sidebar__title {
  padding: 15px 10px;
  padding-left: 15px; }
  .sidebar__title__text {
    text-transform: uppercase;
    font-size: 20px;
    color: #86b53b; }
  .sidebar__title__link {
    font-size: 12px; }
    .sidebar__title__link a {
      color: #9b9b9b;
      background: #ebebeb;
      padding: 5px; }

.news-descr {
  padding: 15px 10px;
  padding-top: 10px;
  font-size: 12px;
  color: #747474; }

.date-block {
  font-size: 12px;
  color: #747474;
  margin: 5px 0; }

.center-content {
  padding-left: 20px; }

.main-slider {
  border: 6px solid #fff; }
  .main-slider__text {
    color: #fff;
    position: absolute;
    z-index: 51;
    right: 20px;
    bottom: 35px;
    width: 460px;
    font-size: 46px;
    line-height: 1;
    text-align: right; }

.category {
  margin-left: -10px; }
  .category__link {
    display: block;
    overflow: hidden;
    position: relative; }
  .category__item {
    padding-left: 10px; }
  .category__title {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 5px;
    background: rgba(134, 181, 59, 0.86); }

.content-title {
  background: rgba(255, 255, 255, 0.7);
  padding-right: 25px; }
  .content-title .pull-right {
    padding-top: 11px; }
  .content-title .pull-left {
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #9b9b9b;
    padding-left: 15px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 20px; }

.title-btn {
  padding: 5px 10px;
  line-height: 1;
  background: #c3c3c3;
  font-size: 12px;
  text-transform: uppercase;
  color: #4e4e4e; }

.product-carousel {
  background: #fff;
  padding: 15px 35px; }
  .product-carousel__offer .owl-carousel {
    padding-bottom: 25px;
    border-bottom: 1px dashed #ebebeb;
    margin-bottom: 25px; }
  .product-carousel .item {
    padding: 5px; }
  .product-carousel__item {
    text-align: center;
    border-left: 1px dashed #ebebeb;
    border-right: 1px dashed #ebebeb;
    padding: 10px; }
    .product-carousel__item:hover {
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
      border-color: transparent; }
      .product-carousel__item:hover .product-carousel__price {
        color: #86b53b; }
  .product-carousel__img {
    overflow: hidden;
    height: 180px; }
  .product-carousel__name {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px; }
  .product-carousel__price {
    color: #9b9b9b;
    margin-bottom: 10px; }
  .product-carousel__prev-price {
    text-decoration: line-through;
    font-size: 12px;
    color: #9b9b9b; }
  .product-carousel__today-price {
    color: red;
    font-size: 20px;
    margin-bottom: 10px; }

.add-basket-btn {
  display: inline-block;
  width: auto;
  height: 35px;
  text-align: center;
  color: #fff;
  background: #86b53b;
  line-height: 35px;
  font-size: 11.5px;
  padding-left: 20px;
  padding-right: 30px;
  letter-spacing: 0.5px;
  font-family: "EtelkaTextProBold";
  text-transform: uppercase;
  margin-bottom: 10px; }

.one-click-btn {
  color: #747474;
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "EtelkaTextProBold"; }

.text-container {
  color: #767676;
  font-size: 18px;
  font-family: Tahoma,Arial,sans-serif;
  margin-bottom: 35px; }
  .text-container h4 {
    text-align: center;
    text-transform: uppercase; }

.info-container {
  text-align: center; }

.info-icon {
  width: 90px;
  height: 90px;
  background: #86b53b;
  margin: auto;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.info-count {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #cffa8a;
  font-size: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #86b53b; }

.info-text {
  margin: 10px 0;
  font-size: 14.5px;
  color: #9b9b9b; }

.brand-carousel {
  padding: 15px 35px; }
